* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  display: flex;
  align-items: center; }
  header h1 {
    text-transform: uppercase; }
  header img {
    width: 50px; }
  header .color-menu {
    background-color: #99eeb6; }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to right, #99eeb6 0%, #c1c161 0%, #d4d4b1 100%); }
  main h1 {
    margin-top: 6rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase; }
  main p {
    font-size: 1rem;
    font-weight: 600; }
  main .parrafo-especial {
    font-size: 1rem;
    font-weight: 100;
    margin-left: 2rem;
    margin-right: 2rem; }
  main img {
    width: 400px; }
  main h2 {
    margin: 0.5rem;
    color: brown; }
  main h3 {
    margin-top: 4rem;
    font-size: 2rem;
    font-weight: 700; }
  main .parrafo-disco {
    width: 350px;
    height: 80px;
    padding: 1px;
    display: inline-flex;
    overflow: hidden;
    justify-content: center;
    text-align: center; }
  main .contenedor-disco img {
    width: 300px;
    margin-bottom: 0.5rem;
    justify-content: center; }
  main .contenedor-disco p {
    padding: 1px;
    display: inline-flex;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem; }
  main .carousel h4 {
    font-weight: 700; }
  main .carousel img {
    justify-content: center; }

.footer {
  height: 100%;
  background-color: #212529;
  color: white;
  text-align: center;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%; }
  .footer .footer-parrafo-uno {
    padding: 1rem; }
  .footer .footer-destacado {
    margin-bottom: 0.6rem;
    font-size: 1.3rem;
    font-weight: 400; }
  .footer .footer-parrafo-dos {
    margin-bottom: 0.5rem; }
  .footer .ir-arriba {
    font-weight: 700;
    margin: 0.4rem;
    padding: 0.4rem;
    display: inline-block;
    color: black;
    background-color: #99eeb6;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 10%; }
    .footer .ir-arriba:hover {
      background-color: #c1c161;
      transform: scale(1.2); }
  .footer .footer-parrafo-tres {
    padding: 1.5rem; }
  .footer .redes-sociales {
    padding: 2.5rem;
    display: flex;
    justify-content: flex-end; }
  .footer .footer-parrafo-tres {
    text-align: center; }
  .footer img {
    margin-left: 2rem;
    margin-right: 2rem; }
    .footer img:hover {
      transform: scale(1.2); }

.contacto {
  height: 100%;
  background-image: url(/img/1560635.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .contacto h1 {
    padding: 1rem;
    margin-top: 8rem;
    margin-bottom: 2rem;
    font-weight: 700;
    background: #c1c161;
    border-radius: 5px; }
  .contacto .formulario {
    padding: 1rem;
    margin-bottom: 4rem;
    font-weight: 600;
    background: #c1c161;
    border-radius: 5px; }
    .contacto .formulario .color-boton {
      font-weight: 700;
      background-color: #99eeb6; }
      .contacto .formulario .color-boton:hover {
        transform: scale(1.2); }

body {
  font-family: 'Roboto', sans-serif; }

@media only screen and (min-width: 600px) {
  .contenedor-discos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem; }
    .contenedor-discos .disco img {
      width: 200px;
      height: 200px; }
    .contenedor-discos .disco p {
      font-size: 1rem; } }

@media only screen and (min-width: 600px) and (min-width: 900px) {
  main {
    display: grid;
    height: 70%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.1fr 0.6fr;
    grid-template-areas: "contenedor-inicio contenedor-disco" "h2 h2" "carousel carousel"; }
  .contenedor-inicio {
    grid-area: contenedor-inicio;
    margin-bottom: 0; }
    .contenedor-inicio img {
      height: 350px; }
  .contenedor-disco {
    grid-area: contenedor-disco;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .contenedor-disco img {
      width: 200px; }
  h2 {
    grid-area: h2; }
  .carousel {
    grid-area: carousel;
    margin-top: 2rem;
    display: flex;
    justify-content: center; }
    .carousel h4 {
      margin: 3rem;
      font-size: 1.5rem;
      font-weight: 700; }
    .carousel img {
      width: 500px; }
  .nosotros {
    display: inline-flex; }
    .nosotros .nosotros-contenedor .imagen-nosotros {
      justify-content: center; }
      .nosotros .nosotros-contenedor .imagen-nosotros img {
        width: 600px; }
    .nosotros .nosotros-contenedor .texto-nosotros p {
      font-size: 1.2rem; }
  .main-discos {
    display: flex;
    flex-direction: column;
    justify-items: center; }
  .contacto {
    display: flex; }
    .contacto .formulario {
      display: flex;
      flex-direction: column;
      align-items: center; } }

@media only screen and (min-width: 1024px) {
  .carousel h4 {
    font-size: 2rem; }
  .carousel img {
    width: 600px;
    margin-bottom: 2rem; } }

.main-literatura {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .main-literatura .titulo-libros {
    margin-top: 6rem;
    font-weight: 700; }
  .main-literatura .contenedor-libros {
    margin-top: 1rem;
    margin-bottom: 3rem; }
    .main-literatura .contenedor-libros h2 {
      font-size: 1.5rem;
      font-weight: 700; }
    .main-literatura .contenedor-libros .libro {
      border: solid;
      padding: 5px;
      margin: 1rem;
      display: inline-flex;
      flex-direction: column;
      width: 300px;
      height: 540px;
      overflow: hidden;
      align-items: center; }
      .main-literatura .contenedor-libros .libro img {
        width: 200px;
        margin-bottom: 1rem; }
      .main-literatura .contenedor-libros .libro p {
        margin: 0.3rem;
        text-align: start; }
  .main-literatura .libro-agente {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .main-literatura .libro-agente h3 {
      font-size: 1.5rem;
      font-weight: 700;
      margin-top: 1rem; }
    .main-literatura .libro-agente .subtitulo-agente {
      text-align: center; }
    .main-literatura .libro-agente img {
      margin: 1.5rem;
      width: 250px; }
    .main-literatura .libro-agente p {
      margin-left: 2rem;
      margin-right: 2rem;
      text-align: start; }

.nav-item .nav-link:hover {
  background: lightblue; }

.navbar-brand:hover {
  transform: scale(1.1); }

.main-discos .titulo-discos {
  margin-top: 9rem;
  color: brown; }

.main-discos h2 span {
  color: red; }

.main-discos .contenedor-discos {
  margin-top: 2rem; }
  .main-discos .contenedor-discos img {
    width: 300px;
    height: 300px;
    margin: 1rem; }
  .main-discos .contenedor-discos p {
    margin-bottom: 1rem; }
  .main-discos .contenedor-discos h3 {
    margin-top: 0;
    margin-bottom: 2rem;
    color: brown; }

.main-films {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .main-films .titulo-films {
    margin-top: 9rem; }
  .main-films .contenedor-films {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .main-films .contenedor-films h2 {
      margin-bottom: 2rem;
      font-size: 1.5rem; }
    .main-films .contenedor-films img {
      width: 350px; }
    .main-films .contenedor-films h3 {
      margin-top: 1rem;
      font-size: 1.6rem;
      font-weight: 700; }
    .main-films .contenedor-films .comentario-film {
      font-weight: 700; }
    .main-films .contenedor-films p {
      margin-left: 3rem;
      margin-right: 3rem;
      font-size: 1rem;
      font-weight: normal;
      text-align: start; }
    .main-films .contenedor-films .parrafo-video {
      font-size: 1.5rem;
      font-weight: 600;
      margin-top: 2rem; }
    .main-films .contenedor-films iframe {
      margin-bottom: 2rem; }

.nosotros h2 {
  margin-top: 6rem;
  font-weight: 700; }

.nosotros .nosotros-contenedor {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center; }
  .nosotros .nosotros-contenedor img {
    width: 400px; }
  .nosotros .nosotros-contenedor .titulo-nosotros {
    font-weight: 700;
    color: #212529;
    margin-top: 1rem; }
  .nosotros .nosotros-contenedor p {
    font-size: 1rem;
    font-weight: 550;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    text-align: start; }
