@import "base/reset";
@import "utilities/variables";
@import "layout/header";
@import "views/home";
@import "layout/footer";
@import "utilities/mixins";
@import "utilities/funciones";
@import "views/contacto";
@import "base/tipografia";
@import "layout/media";
@import "views/literatura";
//Discos

.titulo-discos {
    margin-top: 9rem;
}
h3 {
    span {
        color: red;
    }
}
.contenedor-discos {
    margin-top: 2rem;
    img {
        width:300px;
        height:300px;
        margin:1rem;
    }
    p {
        margin-bottom: 2rem;
    }
}

//Films
.main-films {
    @include flex;
    .titulo-films {
        margin-top: 9rem;
    }
    .contenedor-films {
        @include flex;
        h2 {
            margin-bottom: 2rem;
            font-size: 1.5rem;
        }
        img {
            width: 350px;
        }
        h3 {
            margin-left: 4rem;
            margin-right: 4rem;
            font-size: 1.3rem;
            font-weight: 700;
        }
        p {
            font-size: 1rem;
            font-weight: 200;
            margin-left: 3rem;
            margin-right: 3rem; 
        }
        .parrafo-video {
            font-size: 1.5rem;
            font-weight: 600;
            margin-top: 2rem;
        }
        iframe {
            margin-bottom: 2rem;
        }
    }
    
}

//Nosotros
.nosotros{
    h2 {
        margin-top: 6rem;
        font-weight: 700; 
     }
.nosotros-contenedor {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
   
    img {
        width: 400px;
        margin-top: 1rem;
    }
    .titulo-nosotros {
        font-weight: 700;
        color:$color-secundario ;
    }
    p {
        font-size: 0.8rem;
        font-weight: 550;
        margin-left: 3rem;
        margin-right: 3rem;
        margin-bottom: 3rem;
    }
}
}



