@import "base/reset";
@import "utilities/variables";
@import "layout/header";
@import "views/home";
@import "layout/footer";
@import "utilities/mixins";
@import "utilities/funciones";
@import "views/contacto";
@import "base/tipografia";
@import "layout/media";
@import "views/literatura";

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: $gradiente-secundario;
}

//Música
.main-discos {
    background-image: $gradiente-secundario;
    text-align: center;
    .titulo-discos {
        margin-top: 9rem;
        color:black;
        font-weight: 700;
    }

    h2 {
        span {
            color:blue;
            font-weight: 700;
        }
    }

    .contenedor-discos {
        margin-top: 2rem;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;

        img {
            width: 300px;
            height: 300px;
            margin: 1rem;
        }

        p {
            margin-bottom: 1rem;
            font-weight: 700;
        }

        h3 {
            margin-top: 0;
            margin-bottom: 2rem;
            color:blue;
            font-weight: 700;
        }
    }
}

//Films
.main-films {
    @include flex;
    background-image: $gradiente-secundario;

    .titulo-films {
        margin-top: 9rem;
        font-weight: 700;
        color: blue;
    }

    .contenedor-films {
        @include flex;

        h2 {
            margin-bottom: 2rem;
            font-size: 1.5rem;
            font-weight: 700;
        }

        img {
            width: 350px;
        }

        h3 {
            margin-top: 1rem;
            font-size: 1.6rem;
            font-weight: 700;
        }

        .comentario-film {
            font-weight: 700;
        }

        p {
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            font-size: 1rem;
            font-weight: normal;
            text-align: start;
        }

        .parrafo-video {
            font-size: 1.5rem;
            font-weight: 600;
            margin-top: 2rem;
            text-align: center;
        }

        iframe {
            margin-bottom: 2rem;
        }
    }

}

//Nosotros
.nosotros {
    background-image: url(../img/pil1.webp);
    @include fondo;
    display: flex;
    .nosotros-contenedor {
        padding: 0.5rem;
        margin: 10rem 4rem 4rem 2rem;
        display: flex;
        flex-direction: column;
        box-shadow: rgba(0,0,0,0.5);
        background: rgba(237, 240, 245, 0.692);
        border-radius: 10px;
        text-align: center;
        line-height: 35px;
        h2 {
            margin-top: 1rem;
            font-weight: 700;
            color:blue;
            justify-content: center;
            text-transform: uppercase;
        }
        .titulo-nosotros {
            font-weight: 700;
            color: blue;
            margin-top: 1rem;
        }

        p {
            font-size: 1rem;
            font-weight: 550;
            margin-left: 1rem;
            margin-right: 1rem;
            margin-bottom: 1rem;
            text-align: start;
        }
    }
}