@import "base/reset";
@import "utilities/variables";
@import "layout/header";
@import "views/home";
@import "layout/footer";
@import "utilities/mixins";
@import "utilities/funciones";
@import "views/contacto";
@import "base/tipografia";
@import "layout/media";
@import "views/literatura";

.nav-item {
    .nav-link {
        &:hover {
            background: lightblue;
        }
    }
}

.navbar-brand {
    &:hover {
        transform: scale(1.1);
    }
}

//Discos
.main-discos {
    .titulo-discos {
        margin-top: 9rem;
        color: brown;
    }

    h2 {
        span {
            color: red;
        }
    }

    .contenedor-discos {
        margin-top: 2rem;

        img {
            width: 300px;
            height: 300px;
            margin: 1rem;
        }

        p {
            margin-bottom: 1rem;
        }

        h3 {
            margin-top: 0;
            margin-bottom: 2rem;
            color: brown
        }
    }
}

//Films
.main-films {
    @include flex;

    .titulo-films {
        margin-top: 9rem;
    }

    .contenedor-films {
        @include flex;

        h2 {
            margin-bottom: 2rem;
            font-size: 1.5rem;
        }

        img {
            width: 350px;
        }

        h3 {
            margin-top: 1rem;
            font-size: 1.6rem;
            font-weight: 700;
        }

        .comentario-film {
            font-weight: 700;
        }

        p {
            margin-left: 3rem;
            margin-right: 3rem;
            font-size: 1rem;
            font-weight: normal;
            text-align: start;
        }

        .parrafo-video {
            font-size: 1.5rem;
            font-weight: 600;
            margin-top: 2rem;
        }

        iframe {
            margin-bottom: 2rem;
        }
    }

}

//Nosotros
.nosotros {
    h2 {
        margin-top: 6rem;
        font-weight: 700;
    }

    .nosotros-contenedor {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        text-align: center;

        img {
            width: 400px;
        }

        .titulo-nosotros {
            font-weight: 700;
            color: $color-secundario;
            margin-top: 1rem;
        }

        p {
            font-size: 1rem;
            font-weight: 550;
            margin-left: 3rem;
            margin-right: 3rem;
            margin-bottom: 3rem;
            text-align: start;
        }
    }
}