@mixin flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@mixin margen {
    margin-left: 2rem;
    margin-right: 2rem;
}

@mixin parrafos {
    padding: 1px;
    display: inline-flex;
    overflow: hidden;
    justify-content: center;
    text-align: center;
}

@mixin fondo {
    height: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}