$color-principal:#99eeb6;
$color-secundario:#212529;
$color-terciario:#c1c161;

$gradiente-principal:linear-gradient(60deg, #29323c 0%, #485563 100%);

$gradiente-secundario: linear-gradient(to right, #99eeb6 0%, #c1c161 0%, #d4d4b1 100%);