.footer {
    height: 100%;
    background-color:$color-secundario ;
    color:white;
    text-align: center;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    .footer-parrafo-uno {
        padding: 1rem;
    }
    h6 {
        margin-bottom: 0.6rem;
        font-size: 1.3rem;
        font-weight: 400;
    }
    .footer-parrafo-dos {
        margin-bottom: 0.5rem;
    }
    .ir-arriba {
        font-weight: 700;
        margin: 0.4rem;
        padding: 0.4rem;
        display: inline-block;
        color:map-get($map: $ir-arriba, $key: color-arriba );
        background-color: map-get($map: $ir-arriba , $key: bg-arriba);
        text-decoration: none;
        border:map-get($map: $ir-arriba, $key: border-arriba );
        border-radius: 10%;
        &:hover {
            background-color: $color-terciario;
            transform: scale(1.2);
        }
    }
    .footer-parrafo-tres {
        padding: 1.5rem;
    }
    .redes-sociales {
        padding: 1rem;
        display: flex;
        justify-content: flex-end;
        
    }
    .footer-parrafo-tres {
        text-align: center
    }
    img {
        @include margen;
        &:hover {
            transform: scale(1.2);
            
        }
    }

}