@media only screen and (min-width:600px) {

    //discos
    .contenedor-discos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;

        .disco {
            img {
                width: 200px;
                height: 200px;
            }

            p {
                font-size: 1rem;
            }
        }

    }


    @media only screen and (min-width:900px) {
        main {
            display: grid;
            height: 70%;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 0.1fr 0.6fr;
            grid-template-areas: "contenedor-inicio contenedor-disco"
                "h2 h2"
                "carousel carousel";
        }

        .contenedor-inicio {
            grid-area: contenedor-inicio;
            margin-bottom: 0;

            img {
                height: 350px;
            }
        }

        .contenedor-disco {
            grid-area: contenedor-disco;
            margin-top: 5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            img {
                width: 200px;
            }
        }

        h2 {
            grid-area: h2;
        }

        .carousel {
            grid-area: carousel;
            margin-top: 2rem;
            display: flex;
            justify-content: center;

            h4 {
                margin: 3rem;
                font-size: 1.5rem;
                font-weight: 700;
            }

            img {
                width: 500px;

            }
        }

        //Nosotros
        .nosotros {
            display: inline-flex;

            .nosotros-contenedor {
                .imagen-nosotros {
                    justify-content: center;

                    img {
                        width: 600px;
                    }
                }

                .texto-nosotros {
                    p {
                        font-size: 1.2rem;
                    }
                }
            }
        }

        //Discos

        .main-discos {
            display: flex;
            flex-direction: column;
            justify-items: center;
        }


        //contacto
        .contacto {
            display: flex;

            .formulario {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

@media only screen and (min-width:1024px) {
    .carousel {
        h4 {
            font-size: 2rem;
        }

        img {
            width: 600px;
            margin-bottom: 2rem;
        }
    }
}