@media only screen and (max-width:320px) {

    //home
    .main-home {
        .contenedor-inicio {
            margin-top: 4rem;

            h1 {
                font-size: 1.5rem;
            }

            p {
                font-size: 1rem;
            }

            img {
                width: 280px;
            }
        }

        .texto-decorativo {
            font-size: 1.2rem;
            font-weight: 700;
        }

        .contenedor-disco {
            margin-bottom: 2rem;
            width: 310px;
            justify-content: center;

            h3 {
                font-size: 1.5rem;
            }

            .parrafo-disco {
                width: 250px;
                height: 90px;
                font-size: 0.9rem;
            }

            img {
                padding: 0.5rem;
                width: 200px;
                height: 200px;

            }

            p {
                font-size: 0.9rem;
                padding: 0;
                line-height: 30px;
            }
        }

        .playlist {
            width: 280px;
        }

        .carousel {
            h4 {
                font-size: 1.1rem;
            }

            img {
                width: 260px;
                @include margen;
            }
        }


    }

    //Música
    .main-discos {
        .contenedor-discos {
            .disco {
                img {
                    width: 200px;
                    height: 200px;
                }

                p {
                    font-weight: 700;
                }
            }
        }
    }

    //films
    .main-films {
        h1 {
            font-size: 1.5rem;
            font-weight: 700;
        }

        .contenedor-films {
            h2 {
                font-size: 0.8rem;
                @include margen;
            }

            .img-film {
                width: 280px;
            }

            h3 {
                @include margen;
            }

            .comentario-film {
                font-size: 1rem;
                @include margen;
            }

            .texto-film {
                font-size: 0.9rem;
                @include margen;
            }

            .trailer {
                width: 260px;
                height: 200px;
            }
        }
    }

    // Nosotros
    .nosotros {
        h2 {
            font-size: 1.5rem;
        }

        .nosotros-contenedor {
            .imagen-nosotros {
                img {
                    width: 280px;
                }
            }
        }
    }

}

@media only screen and (max-width:480px) {

    //home
    .main-home {
        .contenedor-inicio {
            margin-top: 4rem;

            img {
                width: 320px;
            }
        }

        .contenedor-disco {
            margin-top: 2rem;
            width: 320px;
            height: 750px;

            .parrafo-disco {
                width: 260px;
                height: 100px;
            }
        }

        .playlist {
            width: 300px;
        }

        .carousel {
            margin-top: 2rem;

            h4 {
                @include margen;
                font-size: 1.2rem;
            }

            img {
                width: 320px;
                @include margen;
            }
        }
    }

    //Música
    .contenedor-discos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;

        .disco {
            img {
                width: 200px;
                height: 200px;
            }

            p {
                font-size: 1rem;
            }
        }

    }

    //Nosotros
    .nosotros {
        display: flex;

        .nosotros-contenedor {
            .imagen-nosotros {
                img {
                    width: 310px;
                }
            }
        }
    }

    //Films
    .main-films {
        .contenedor-films {
            width: 350px;
            margin: 0.5rem;

            img {
                width: 320px;
            }

            .trailer {
                width: 320px;
                height: 260px;
            }
        }
    }
}

@media only screen and (min-width:480px) {

    //Home
    .contenedor-inicio {
        margin-top: 4rem;
    }

    .carousel {
        img {
            width: 460px;
        }
    }

    //Films 
    .main-films {
        .trailer {
            width: 480px;
            height: 400px;
        }
    }
}


@media only screen and (min-width:1024px) {

    //Home
    .main-home {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 0.1fr);
        grid-column-gap: 20px;
        grid-template-areas: "navbar navbar"
            "contenedor-inicio contenedor-disco"
            "texto-decorativo texto-decorativo"
            "playlist carousel"
            "footer footer";
    }

    .contenedor-inicio {
        grid-area: contenedor-inicio;
        margin: 1rem;

    }

    .contenedor-disco {
        grid-area: contenedor-disco;
    }

    .texto-decorativo {
        grid-area: texto-decorativo;
    }

    .playlist {
        grid-area: playlist;

    }

    .carousel {
        grid-area: carousel;
        display: block;
        width: 480px;

        img {
            width: 100%;
        }
    }

    //Música
    .main-discos {
        display: flex;
        flex-direction: column;
        justify-items: center;

        h2 {
            justify-content: center;
        }
    }

    //Films
    .main-films {
        .trailer {
            width: 600px;
            height: 500px;
        }
    }

    //Nosotros
    .nosotros {
        display: inline-flex;

        .nosotros-contenedor {
            .imagen-nosotros {
                justify-content: center;

                img {
                    width: 600px;
                }
            }

            .texto-nosotros {
                p {
                    font-size: 1.2rem;
                }
            }
        }
    }


}