@import "utilities/mixins";
@import "utilities/funciones";
main {
    @include flex;
    background-image: $gradiente-secundario;
  
    h1 {
        margin-top: 6rem;
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    p {
        font-size: 1rem;
        font-weight: 600;
    }
    .parrafo-especial {
        font-size: 1rem;
        font-weight: 100;
        @include margen;
    }
    img {
        width: 400px;
    }
    h2 {
        margin: 0.5rem;
        color: brown;
    }
    h3 {
        margin-top: 4rem;
        font-size: 2rem;
        font-weight: 700;
    }
    .parrafo-disco {
            width: 350px;
            height: 80px;
            @include parrafos;
            @extend fuente;   
    }
    .contenedor-disco {
        img {
            width: 300px;
            margin-bottom: 0.5rem;
            justify-content: center
        }
        p {
            @include parrafos;
            @include margen;
            @extend fuente;
        }
    }
    h4 {
        font-size: 2rem;
        margin: 0.5rem;
    }

}
