.main-literatura {
    @include flex;
    background-image: $gradiente-secundario;

    .titulo-libros {
        margin-top: 6rem;
        font-weight: 700;
    }

    .contenedor-libros {
        margin-top: 1rem;
        margin-bottom: 3rem;

        h2 {
            font-size: 1.5rem;
            font-weight: 700;
            justify-content: center;
            color: blue;
        }

        .libro {
            border: solid;
            padding: 5px;
            margin: 1rem;
            background-color: $color-terciario;
            display: inline-flex;
            flex-direction: column;
            width: 300px;
            height: 540px;
            overflow: hidden;
            align-items: center;

            img {
                width: 200px;
                margin-bottom: 1rem;
            }

            p {
                margin: 0.3rem;
                text-align: start;
                font-weight: 700;
            }
        }
    }

    .libro-agente {
        @include flex;

        h3 {
            font-size: 1.5rem;
            font-weight: 700;
            margin-top: 1rem;
        }

        .subtitulo-agente {
            text-align: center;
            font-weight: 700;
        }

        img {
            margin: 1.5rem;
            width: 250px;
        }

        p {
            @include margen;
            text-align: start;
            font-weight: 700;
            line-height: 30px;
        }
    }
}